%h3 Kantoliinayhdistyksen jäsenmaksu -lasku

%p Laskun eräpäivä:
%p Summa:
= @member.membergroup.fee
%p Viitenumero:
= Member.generate_refnumber(@member.membernumber)

%p TILINUMERO:

%p IBAN XXXXX

%p Ystävällisin terveisin,

%p Kantoliinayhdistys