%div{:id => "settings_page"}

  %h1 Laskupohjan muokkaus
  = flash[:notice]
  -#%li
  -#  = link_to "Muokkaa Maksumuistutuspohjaa", edit_reminder_path
  %li
    = link_to "Muokkaa Laskupohjaa", invoice_edit_path