%div{:id => "settings_page"}

  %h1 Laskupohjan muokkaus
  = flash[:notice]
  %li
    = link_to "Muokkaa maksumuistutuspohjaa", reminder_edit_path
  %li
    = link_to "Muokkaa laskupohjaa", invoice_edit_path