%div
  %table{:class => "center", :id => "members"}
    %tr
      %th Jäsenryhmä
      %th Hinta (€)
      %th Maksutyyppi
      %th Jäseniä
    - @membergroups.each do |membergroup|
      %tr
        %td= link_to membergroup.name, edit_membergroup_path(membergroup)
        %td= membergroup.fee
        - if(!membergroup.onetimefee)
          %td
            Vuosittainen
        - else
          %td
            Kerta
        %td= membergroup.members.count
