#login_page {
  h1 {
    text-align: center;
  }
  #login_form {
    margin: 0 auto;
    border: 2px solid #C0C0C0;
    width: 250px;
    border-radius: 5px;
    padding: 20px;

    #submit {
      text-align: center;
    }
    #submit input {
      //margin-top: 10px;
      width: 100px;
    }
  }
}
