#index_member_page {
    margin: 40px;
    font-family: Arial

}

#index_member_page #table th, #index_member_page #table td {
    padding: 10px;
    text-align: left;
}

#index_member_page #table td {
    padding: 0px 10px;
}
#new_member_page {
    margin: 40px;
    font-family: Arial

}
#new_member_page input {
    width: 220px;
}
#new_member_page #header {
}
#new_member_page #submit {
    width: 50px
}
