#index_member_page {
  #keyword {
    width: 900px
  }

  #centered {
    display: inline-block;
    #keyword_field {
      text-align: left;
      margin-left: 10px;
      float: left;
      input {
        margin: 0;
      }

      input[type="submit"] {
        width: 70px;
      }

      #random_button {
        display: inline-block;
        width: 70px;
      }
    }
    #members {
      display: inline-block;
      text-align: left;
    }
    #notice {
      padding-top: 5px;
      padding-left: 10px;
      float: left;
    }
    table {
      margin-top: 0px;
      text-align: center;
      th {
        span {
          cursor: pointer;

        }
      }
    }
    #column_menu_content {
      float: left;
      .header {
        background-color: #74A846;
        border: 1px solid #bbbbbb;
        margin: 0;
        padding: 4px;
        color: #ffffff;
      }
    }
    #right {
      float: right;
    }
    #forms {
      width: 650px;
      margin: 0 auto;

      form {
        width: 210px;
        float: right;
        margin: 0;
      }
      input, button {
        margin: 5px;
      }
    }
    #amount_of_results {
      float: right;
    }
  }
}

.delete_row_button {
  width: 70px;
}

#invoice_member_page, #mailer_member_page, #reminder_member_page {

  #subject {
    width: 700px;
  }

  #additional_message {
    display: inline-block;
    width: 700px;
  }
  #top_message {
    display: inline-block;
    width: 700px;
  }
  #bottom_message {
    display: inline-block;
    width: 700px;
  }
}

#new_member_page, #edit_member_page, #edit_membergroup_page, #new_membergroup_page {
  #form {
    width: auto;
    display: inline-table;
    margin: 0 auto;
    //margin-top: 30px;
  }


  form {
    margin: 0;
    padding: 0;
  }

  #member_country {
    width: 214px;
  }

  #expirationdate {
    padding-top: 12px;
  }

  .label {

  }



  .left {
    display: inline;
    width: 130px;
    text-align: left;
    min-height: 1px;

  }
  .name {
    line-height: 40px;
    //height: 40px;
  }

  .right_field {
    width: 214px;
    text-align: left;
    input[type = "checkbox"] {
      margin-right: 10px;
    }
  }

  #edit_form select {
    margin-top: 0px;
    margin-left: 0px;
  }

  .row {
    height: 40px;
  }

  #update, #delete {
    //margin: 20px 0px;
    width: 344px;
  }


  #info{
    min-width: 300px;
    max-width: 300px;
  }

  #delete {
    width: 344px;
  }
}

#recover_password_page {
  #submit_button {
    width: 214px;
    //margin-top: 10px;
  }
}

#addressdata {
  .member {
    float: left;
    padding: 30px;
    min-width: 260px;
  }
}