#index_member_page {
  #keyword {
    width: 900px
  }
  #search_form {
    width: 1000px;
    margin: 0 auto;
    .left {
      margin-left: 30px;
      float: left;
    }

    #search_fields div, #membergroup_fields div {
      width: 150px;
      text-align: left;
    }

    #membership_fields, #paymentstatus_fields, #membergroup_fields {
      text-align: left;
    }

    #paymentstatus_fields, #membership_fields {
      width: 150px;
    }
  }
  #centered {
    display: inline-block;
    text-align: left;
    .column_menu {
      display: inline-block;
      .header {
        cursor: default;
        height: auto;
        width: auto;
        background-color: #74A846;
        border: 1px solid #bbbbbb;
        margin: 0;
        padding: 4px;
        color: #ffffff;
      }
      .choices {
        position: absolute;
        display: none;
        border: 1px solid #bbbbbb;
        label {
          background-color: #EFEFEF;
          padding: 4px;
          display: block;
          border-bottom: 1px solid #bbbbbb;
        }
        label:hover{
          background-color: #74A846;
        }
      }
    }
    #bottom_forms {
      width: 650px;
      margin: 0 auto;
      display: none;

      #invoice_form, #delete_active_form, #payment_form {
        width: 210px;
        float: left;
        margin: 0;
      }
    }
    #tulosmaara {
      margin-top: 10px;
    }
  }
}

#index_member_page .delete_or_active, #invoice_member_page .delete_button {
  width: 70px;
}

#invoice_member_page {
  #additional_message {
    display: inline-block;
    width: 895px;
  }
}

#new_member_page, #edit_member_page, #edit_membergroup_page {
  #form {
    width: auto;
    display: inline-table;
    margin: 0 auto;
    margin-top: 30px;
  }
  form {
    margin: 0;
    padding: 0;
  }

  //#checkbox {
  //  float: left;
  //}

  #expirationdate {
    padding-top: 12px;
  }

  .left {
    display: table;
    width: 130px;
    text-align: left;
    min-height: 1px;
  }

  .right_field {
    width: auto;
    text-align: left;
    input[type = "checkbox"]{
      margin-right: 10px;
    }
  }

  #edit_form select {
    margin-top: 0px;
    margin-left: 0px;
  }

  .row {
    height: 35px;
  }

  #update {
    margin: 20px 0px;
    width: 344px;
  }

  #delete {
    width: 344px;
  }
}

#recover_password_page {
  #submit_button {
    width: 214px;
    margin-top: 10px;
  }
}