.multiselectmenu {
  display: inline-block;
  .header {
    cursor: pointer;
    height: auto;
    width: auto;
    text-decoration: underline;
  }
  .choices {
    position: absolute;
    display: none;
    border: 1px solid #bbbbbb;
    color: #555;
    z-index: 22;
    label {
      background-color: #EFEFEF;
      padding: 4px;
      display: block;
      border-bottom: 1px solid #bbbbbb;
    }
    label:hover{
      background-color: #74A846;
    }
  }
}
#hide_layout{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 21;
}