.multiselectmenu {
  display: inline-block;
  .header {
    cursor: pointer;
    height: auto;
    width: auto;
    text-decoration: underline;
  }
  .choices {
    position: absolute;
    display: none;
    border: 1px solid #bbbbbb;
    color: #555;
    label {
      background-color: #EFEFEF;
      padding: 4px;
      display: block;
      border-bottom: 1px solid #bbbbbb;
    }
    label:hover{
      background-color: #74A846;
    }
  }
}