#settings_page {
  #invoice_template_editor {
    text-aling: center;

    #textarea {
      width: 800px;
      margin: 0 auto;

      textarea {
        width: 700px;
        height: 400px;
        display: inline-block;
      }
    }
  }
  #invoice_template_button {
    padding: 10px;
  }
}