#statistics_page {
  .column{
    margin-right: 50px;
  }
  .floatleft, .floatright{
    text-align: left;
    display: inline-table;

  }
  .left{
    width: 150px;
  }
  .information{
    margin-left: 10px;
  }
  .data{
    width: 50px;
    text-align: right;
  }

}