<!DOCTYPE html>
<html>
<head>
  <title>Kantoliina</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="header">
      <div id="header-content">

        <h1
        id="logo"><a href="./"
                     title="">KANTOLIINA<span class='green'>YHDISTYS</span></a></h1>
        <img src="http://www.kantoliinayhdistys.fi/themes/pixelgreen/images/logo.gif" height="100" align="right"/>
        <!-- Menu Tabs -->
        <!--<ul>-->

          <!--<li><a href="/yhdistys/" title="Siirry sivulle Yhdistys"-->
                 <!--class="link">Yhdistys</a></li>-->

          <!--<li><a href="/tietoa-kantamisesta/" title="Siirry sivulle Tietoa kantamisesta"-->
                 <!--class="link">Tietoa kantamisesta</a></li>-->

          <!--<li><a href="/apua-kantamiseen/" title="Siirry sivulle Apua kantamiseen"-->
                 <!--class="link">Apua kantamiseen</a></li>-->

          <!--<li><a href="/ajankohtaista/" title="Siirry sivulle Ajankohtaista"-->
                 <!--class="link">Ajankohtaista</a></li>-->

          <!--<li><a href="/blogi/" title="Siirry sivulle Blogi"-->
                 <!--class="link">Blogi</a></li>-->

        <!--</ul>-->


      </div>
    </div>



<%= yield %>

</body>
</html>
