%div{:id => "edit_member_page"}
  %div{:id => "notice"}
    = flash[:notice]
  %h1 Jäsenen tietojen muokkaus

  %div{:id => "form"}
    = render :partial => "new_edit_form.html"
    -#= simple_form_for @member, defaults:{label:false} do |f|
    -#  %div{:class => "row"}
    -#    %div{:class => "left"}
    -#      = f.label "Etunimet"
    -#    %div{:class => "left right_field"}
    -#      = f.input :firstnames
    -#  %div{:class => "row"}
    -#    %div{:class => "left"}
    -#      = f.label "Sukunimi"
    -#    %div{:class => "left right_field"}
    -#      = f.input :surname
    -#  %div{:class => "row"}
    -#    %div{:class => "left"}
    -#      = f.label "Kunta"
    -#    %div{:class => "left right_field"}
    -#      = f.input :municipality
    -#  %div{:class => "row"}
    -#    %div{:class => "left"}
    -#      = f.label "Katuosoite"
    -#    %div{:class => "left right_field"}
    -#      = f.input :address
    -#  %div{:class => "row"}
    -#    %div{:class => "left"}
    -#      = f.label "Postinumero"
    -#    %div{:class => "left right_field"}
    -#      = f.input :zipcode
    -#  %div{:class => "row"}
    -#    %div{:class => "left"}
    -#      = f.label "Postitoimipaikka"
    -#    %div{:class => "left right_field"}
    -#      = f.input :postoffice
    -#  %div{:class => "row"}
    -#    %div{:class => "left"}
    -#      = f.label "Sähköposti"
    -#    %div{:class => "left right_field"}
    -#      = f.input :email
    -#  %div{:class => "row"}
    -#    %div{:class => "left"}
    -#      = f.label "Jäsennumero"
    -#    %div{:class => "left right_field"}
    -#      = f.input :membernumber, as: :string
    -#  %div{:class => "row"}
    -#    %div{:class => "left"}
    -#      = f.label 'Jäsenryhmä'
    -#    %div{:class => "left right_field"}
    -#      = f.collection_select(:membergroup_id, Membergroup.all, :id, :name)
    -#  %div{:class => "clear"}
    -#  %div{:class => "left"}
    -#    = f.submit "Tallenna muutokset", id:"update"
    -#  %div{:class => "clear"}

      -#%div{:class => "left"}
      -#= button_to  (@member.membership ? 'Poista' : 'Aktivoi'), member_path(@member), :method => :delete, :id => "delete"
