%h1 Ylläpitäjän sivu
=link_to "Kirjaudu ulos", logout_path

= flash[:notice]
%table{:border => "1"}
  %tr
    %th Nimi
    %th Sukunimi
    %th Mail
  - @members.each do | member|
    %tr
      %td= member.name
      %td= member.surname
      %td= member.email
      %br