%div{:id => "new_member_page"}
  %div{:id => "notice"}
    = flash[:notice]
  %div{:class => "error"}
    = flash[:error]
  -#%h1 Jäsenen lisäys

  %div{:id => "form"}
    = render "new_edit_form", :formats => [:html]
